* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Montserrat", sans-serif !important; */
  scroll-behavior: smooth;
}
nav {
  font-family: "Nixie One", cursive !important;
  font-size: large;
  font-weight: bold;
}
.navbar-nav {
  margin-left: 4rem;
}
.logo {
  height: 5rem;
  width: 5rem;
}

nav {
  background-color: white;
}

.nav-link:hover {
  color: red !important;
  border: 1px solid red !important;
}

h1,
h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h3,
h2 {
  font-family: "Montserrat", sans-serif;
}

.showcase {
  /* background: url("main.jpeg") no-repeat center center fixed ; */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("main.jpeg") no-repeat center center fixed;

  height: 100vh;
  width: 100%;
  display: table;
  background-size: cover;
  text-align: left;
  text-shadow: 1px 1px black;
  color: white;
}

.showcase h3 {
  text-align: center;
  margin-top: 15rem;
}
/* .showcase a {
  font-family: sans-serif !important;
  text-decoration: none !important;
  /* border: 2px solid rgba(255, 255, 255, 0) !important; 

}

.showcase_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.btn-warning:hover{
  background-color:  rgb(255,219,88) !important;
} */

.carousel-item {
  width: 100% !important;
  padding: 10px !important;
}

.carousel-caption {
  color: black !important;
  padding-bottom: 12rem !important;
}
.btn:hover {
  background: white !important;
  color: black !important;
}

.card-img-top {
  height: 300px !important;
  width: 80% !important;
  text-align: center;
  align-items: center;
}
.card {
  margin: 40px;
  text-align: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.9);
}

.worksection1,
.worksection2,
.worksection3,
.worksection4 {
  height: 25rem;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.worksection1 {
  background-image: url("sh2.jpg");
}
.worksection2 {
  background-image: url("sh2.jpg");
}
.worksection3 {
  background-image: url("sh2.jpg");
}
.worksection4 {
  background-image: url("sh2.jpg");
}

/* font-weight: bold !important; */
/* text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
    -3px 0px 7px rgba(81, 67, 21, 0.8), 0px 4px 7px rgba(81, 67, 21, 0.8) !important; */

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}
footer a {
  text-decoration: none !important;
  color: red;
  margin-bottom: 10px;
}

.letsstart {
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px 1px #000;
  padding-top: 20px;
  color: white;
}
h6 {
  font-family: serif;
  font-size: large !important;
}

.letsstart a {
  text-decoration: none;
  margin-top: 10rem;
}
.pic1,
.pic2 {
  background-position: center;
  padding: 30px;

  background-size: cover;
}

.pic1 {
  background-image: url("4.jpg");
}
.pic2 {
  background-image: url("20.jpg");
}

/* Contact Section */
.contactus {
  padding: 10px;
}

hr {
  color: red !important;
}

/* Media Queries */
/* PC SCREEN */
@media screen and (min-width: 1024px) {
  .contactus .container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }

  iframe {
    height: 350px;
    width: 450px;
  }
  .contactinfo {
    width: 45%;
    /* padding-top: 1rem; */
  }

  hr {
    margin: 1rem 20rem 1rem 20rem !important;
  }
  .navbar-brand {
    font-size: large;
    padding: 0 1rem 0 1rem !important;
  }
  .letsstart {
    display: flex;
    height: 50vh;
    justify-content: space-around;
  }

  .pic1,
  .pic2 {
    height: 300px;
    width: 35%;
  }
  .carousel-item img {
    height: 40rem;
  }
  #about {
    height: 30vh;
    text-align: left;
    margin: 1rem 4rem 4rem 4rem;
    padding: 10px;
  }
}

/* Tablet Screen */
@media (min-width: 769px) and (max-width: 1023px) {
  .contactus .container {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }
  iframe {
    height: 400px;
    width: 400px;
    margin-right: 1rem;
  }
  .contactinfo {
    width: 45%;
    padding-top: 1rem;
  }
  hr {
    margin: 1rem 15rem 1rem 15rem !important;
  }
  .letsstart {
    display: flex;
    height: 50vh;
    justify-content: space-around;
  }
  .pic1,
  .pic2 {
    height: 300px;
    width: 45%;
  }
  .carousel-item img {
    height: 35rem;
  }
  #about {
    height: 40vh;
    text-align: left;

    margin: 2rem 4rem 6rem 4rem;
  }
}

/* Mobile Screen */
@media screen and (max-width: 768px) {
  .contactus .container {
    padding-top: 2rem;
  }
  .map,
  iframe {
    height: 300px;
    width: 100%;
  }
  .contactinfo {
    padding-top: 1rem;
  }
  hr {
    margin: 1rem 5rem 1rem 5rem !important;
  }
  .navbar-brand {
    font-size: large;
    padding: 1px !important;
  }
  .letsstart {
    width: 100%;
    display: block;
  }
  .pic1,
  .pic2 {
    height: 280px;
    margin: 10px 8px 10px 8px;
  }
  .carousel-item img {
    height: 30rem;
  }
  #about {
    height: 60vh;
    text-align: left;
    margin: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #about {
    height: 60vh;
    text-align: left;
    margin: 1rem;
  }
}
