* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100% !important;
}
header {
  padding: 1rem;
}

h1:hover {
  color: red;
}

hr {
  background-color: red;
  margin: 1rem 10rem 1rem 10rem;
}

.work {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
}
a {
  text-decoration: none;
  color: black;
}

img {
  height: 30rem;
  width: 30rem;
}
img:hover {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.9);
}

/* Footer */
footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}
footer a {
  text-decoration: none !important;
  color: red;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  img {
    margin: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  img {
    margin: 20px;
  }
}
@media (max-width: 768px) {
}
